body{
    background: linear-gradient(45deg, rgba(25, 7, 59), rgba(9, 9, 9, 0.7)),
                linear-gradient(90deg, rgba(25, 08, 30, 0.5), rgba(0, 0, 07, 0.7)),
                linear-gradient(180deg, rgba(2, 8, 0, 0.5), rgba(0, 0, 17, 0.7));
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: #FFFFFF;   
}



