#7F1E7B
#FFFFFF
#19073B
#213F72
#000000
#7F4129
#1C0C28
#707070
#271AC1
#090909
#F6F7F9
#00000012

/* Colors: */
--unnamed-color-7c0fd5: #7C0FD5;
--unnamed-color-8b0dd9: #8B0DD9;
--unnamed-color-578efa: #578EFA;
--unnamed-color-f5f5f5: #F5F5F5;
--unnamed-color-fafafa: #FAFAFA;
--unnamed-color-1e232c: #1E232C;
--unnamed-color-fefefe: #FEFEFE;
--unnamed-color-ff00f7: #FF00F7;
--unnamed-color-000000: #000000;
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-271ac1: #271AC1;
--unnamed-color-707070: #707070;

