*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /*border: 1px solid #fff*/
}

:root{
    --black: #000000;
    --white: #FFFFFF;
    --base-color: #1f0141;  
}


html{
    font-size: 62.50%;
}

body{
    box-sizing: border-box;
    font-family: sans-serif;
    inset: 0;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:Poppins-ExtraLight;
    src: url('./fonts/poppins/Poppins-ExtraLight.otf');
}
@font-face {
    font-family: Poppins;
    src: url('./fonts/poppins/Poppins-Bold.otf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('./fonts/poppins/Poppins-SemiBold.otf');
}


@font-face {
    font-family: Poppins-Regular;
    src: url('./fonts/poppins/Poppins-Regular.otf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('./fonts/poppins/Poppins-Medium.otf');
}