main{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    padding: 3rem 0;
    h1{
        font-size: 3.5vw;
        line-height: 120%;
        text-align: center;
        font-family: Poppins;

    }

    p{ 
        font-size: 1vw;
        text-align: center;
        letter-spacing: 1.5px;
        font-family: Poppins-ExtraLight;
    }

    h1 span, p span{
        display: block;
        text-align: center;
    }

    h1 span{margin-bottom: 1.5rem;}
    p span{ margin-bottom: .8rem; }
   
    ul{
        list-style-type: none;
        padding: 2rem;
        justify-self: center;
    }

    form{
       display: grid;
       justify-content: center;
       
        fieldset{
            margin: 1.5rem;
            border: none;

           &:first-child{
               input[type="text"]{
                   background: transparent;
                   border: none;
                   border-bottom: 2px solid #1E232C;
                   margin-right: .5rem;
                   font-family:Poppins-Regular;
                   padding: .5rem;
                   color:#707070;;
               }

           }

           input[type="text"]:focus{
             outline: none;
           }

           &:last-child{
            position: relative;
            display: grid;

             input[type="text"], button{
                border-radius: 40px;
                position: absolute;
                padding:2rem  
             }
             button{
                font-family: Poppins-Medium;
                background-color: #271AC1;
                color: inherit;
                width: 65%;
                font-size: 1.3rem;
                justify-self: end;
                
             }
            input[type="text"]{
                font-family:Poppins-Light;
                padding-right: 2rem;
                width: 100%; 
            }
           }  
        }

      
    }
}

